<%- include('./partials/messages.ejs'); %>
<%- include('./partials/buyer-nav.ejs'); %>

<h1 class="mb-3 mt-4 text-center">Welcome to your cart, <%= name %> !</h1> <hr>

    <% if(cart.length == 0) { %>
        <h4 class="mt-4 text-center"> No items in the cart! </h4>
      <% } else { %>
      
        <% cart.forEach(function (cartObject) { %>
          
            <div class="card mt-4 border-dark">
              <h3 class="card-header text-center">
                <%= cartObject.name %>
              </h3>
                <div class="card-body" style="background-color: aliceblue; text-align: center;">
                  <div class="card-title mb-4"> Quantity: <strong> <%= cartObject.qty %> </strong> </div>
                  <div class="card-title mb-4"> Amount: <strong> ₹ <%= cartObject.price %> </strong> </div>
                  <div class="card-title mb-4"> Category: <strong> <%= cartObject.category %> </strong> </div>
                  <hr>
                  <form action="/user/remove/<%= cartObject.id %>" method="POST">
                    <button type="submit" class="btn btn-primary btn-lg"> Remove </button>
                  </form>
                </div>
            </div>
            
        <% }) %>
        <hr>
        <div class="card mt-2 mb-4 border-dark" style="background-color: aliceblue; text-align: center;">
          <p class="mt-2"> Total items: <strong> <%= totalItems %> </strong> </p>
          <p> Total amount: <strong> ₹ <%= totalPrice %> </strong> </p>
          <form action="/user/purchases" method="POST" class="mb-2">
            <button type="submit" class="btn btn-success btn-lg"> Checkout </button>
          </form>
        </div>
      <% } %>