<%- include('./partials/messages.ejs'); %>
<%- include('./partials/buyer-nav.ejs'); %>

<h3 class="mb-3 mt-4 text-center"> Search results for: <%= search %> </h3> <hr>

<% if(products.length == 0) { %>
    <h4 class="mt-4 text-center"> No results found! </h4>
  <% } %>
  
  <% products.forEach(function (product) { %>
  
      <div class="card mt-4 border-dark">
        <h3 class="card-header text-center">
          <%= product.itemName %>
        </h3>
          <div class="card-body" style="background-color: aliceblue;">
            <div class="card-title mb-4 float-right"> 
              <img src="data:image/<%= product.image.contentType %>;base64, 
                                  <%= product.image.data.toString('base64') %>" width="200" height="200" alt="Image">   
            </div>
            <div class="card-title mb-4"> Description: <strong> <%= product.itemDesc %> </strong> </div>
            <div class="card-title mb-4"> Price: <strong> ₹ <%= product.itemPrice %> </strong> </div>
            <div class="card-title mb-4"> Available stock: <strong> <%= product.itemQty %> </strong> </div>
            <div class="card-title mb-4"> Category: <strong> <%= product.itemCategory %> </strong> </div>
            <br> <hr>
            <form action="/user/cart/<%= product.id %>" method="POST">
                <input 
                  name="quantity"
                  id="quantity"
                  type="number"
                  value="1"
                  placeholder="Enter quantity"
                  required
                  />
                <button type="submit" class="btn"> <i class="fa fa-shopping-cart" style="font-size:36px"></i> </button>
            </form>
          </div>
  
      </div>
  
  <% }) %>