<%- include('./partials/messages.ejs'); %>
<%- include('./partials/buyer-nav.ejs'); %>

<h1 class="mb-3 mt-4 text-center">Welcome to your feed, <%= name %> !</h1> <hr>
    <p> Buyer </p>

    <% if(cart.length == 0) { %>
        <h4 class="mt-4 text-center"> Nothing to show in feed! </h4>
      <% } %>
      
      <% cart.forEach(function (cartObject) { %>
        
          <div class="card  mt-4 border-dark">
            <h3 class="card-header text-center">
              <%= cartObject.name %>
            </h3>
              <div class="card-body" style="background-color: aliceblue;">
                <div class="card-title mb-4"> Quantity: <strong> <%= cartObject.qty %> </strong> </div>
                <div class="card-title mb-4"> Price: <strong> <%= cartObject.price %> </strong> </div>
                
                <div class="card-title mb-4"> Category: <strong> <%= cartObject.category %> </strong> </div>
                <hr>
                
              </div>
          </div>
          
      <% }) %>
      <form action="/user/purchases" method="GET">
        <button type="submit" class="btn btn-dark btn-lg"> Purchase </button>
      </form>