<%- include('./partials/messages.ejs'); %>
<%- include('./partials/seller-nav.ejs'); %>

<h1 class="mb-3 mt-4 text-center">Welcome to your feed, <%= name %> !</h1> <hr>
    <p> Seller </p>

    <% if(products.length == 0) { %>
        <h4 class="mt-4 text-center"> Nothing to show in feed! </h4>
      <% } %>
      
      <% products.forEach(function (product) { %>
          <% if(product.purchases.length > 0) { %>
            <div class="card  mt-4 border-dark">
                <h3 class="card-header text-center">
                <%= product.itemName %>
                </h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Date</th>
                        </tr>
                        </thead>
                    
                    <% product.purchases.forEach(function (purchase) { %>
                    <tr>
                        <td> <%= purchase.buyerName %> </td>
                        <td> <%= purchase.buyerEmail %> </td>
                        <td> <%= purchase.itemQty %> </td>
                        <td> <%= purchase.itemPrice %> </td>
                        <td> <%= purchase.eventDate %> </td>
                    </tr>
                    <% }) %>
                    </table>
                </div>
            </div>
        <% } else { %>
            <div class="card  mt-4 border-dark">
                <h3 class="card-header text-center">
                <%= product.itemName %>
                </h3>
                <div class="card-body" style="background-color: aliceblue; text-align: center;">
                    <div class="card-title mb-2"> <strong> No purchases yet. </strong> </div>
                </div>
            </div>
        <% } %>
    <% }) %>