<%- include('./partials/indexnav.ejs'); %>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body border-dark" style="background-color: lightgrey;">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Sign-Up
            </h1>
            <%- include('./partials/messages.ejs'); %>
            <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="name"> Name </label>
                    <input 
                      type="text"
                      name="name"
                      id="name"
                      class="form-control"
                      placeholder="Enter Name"
                      value="<%= typeof name != 'undefined' ? name : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="email"> Email </label>
                    <input 
                      type="email"
                      name="email"
                      id="email"
                      class="form-control"
                      placeholder="Enter Email"
                      value="<%= typeof email != 'undefined' ? email : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="password"> Password </label>
                    <input 
                      type="password"
                      name="password"
                      id="password"
                      class="form-control"
                      placeholder="Enter Password"
                      value="<%= typeof password != 'undefined' ? password : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="password2"> Confirm Password </label>
                    <input 
                      type="password"
                      name="password2"
                      id="password2"
                      class="form-control"
                      placeholder="Re-enter password"
                      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="role"> Choose your role </label> <br>
                    <input 
                      type="radio"
                      name="role"
                      id="buyer"
                      value="buyer"
                    />
                    <label for="buyer"> Buyer </label> <br>
                    <input 
                      type="radio"
                      name="role"
                      id="seller"
                      value="seller"
                    />
                    <label for="seller"> Seller </label> <br>
                </div>
                <button type="submit" class="btn btn-success btn-block">
                    Signup
                </button>
            </form>
            <p class="lead mt-4"> Have an account? <a href="/login"> <strong> Login </strong> </a> </p>
        </div>
    </div>
</div>